.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.keyboard-content {
  position: absolute;
  top: 20%;
  transform: translateX(-0%);
  transition: transform 0.5s ease-in-out;
}

.stats-content {
  position: absolute;
  top: 15%;
  right: 0%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.keyboard-container.show-stats .keyboard-content {
  transform: translateX(-50%);
}
.keyboard-container.show-stats .stats-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.reset-button {
  display: block;
  position: relative;
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 8.6em;
  margin-top: 2em;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.progress-bar-container {
  display: flex;
  position: relative;
  top: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.progress-bar-background {
  margin: 20px;
  height: 30px;
  width: 100%;
  background-color: #626262;
  border-radius: 40px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: rgb(37, 150, 190);
  border-radius: 40px;
  transition: width 0.1s ease-in-out;
}

.progress-bar-text {
  position: absolute;
  padding: 0px;
  left: 50%;
  font-weight: 500;
  color: gold;
  transform: translateX(-50%);
}

.reset-button:hover {
  transform: scale(1.1);
}

.reset-button:active {
  transform: scale(1.01) translateY(1px); /* Indent the button */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Reduce shadow for pressed effect */
}
