:root {
  --font-family-sans-serif: "Roborto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

.app-bar {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.toolbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.title {
  color: white;
  font-size: 1.5rem;
}

.text-field {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  color: white;
}

.toggle-button {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button.active {
  background: blue;
}

.select-field {
  padding: 0.5rem;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}